<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dishesMS.dao.IStaffDAO">
    <resultMap id="staffResultMap" type="com.dishesMS.model.Staff">
        <id property="id" column="id"/>
        <result property="account" column="account" />
        <result property="password" column="password" />
        <result property="name" column="name" />
        <result property="gender" column="gender" />
        <result property="idCard" column="idCard" />
        <result property="tel" column="tel" />
        <result property="email" column="email" />
        <association property="role" column="role_id"
                     select="com.dishesMS.dao.IRoleDAO.selectRoleById"
                     javaType="com.dishesMS.model.Role" />
    </resultMap>

    <insert id="insertStaff" parameterType="com.dishesMS.model.Staff" useGeneratedKeys="true" keyProperty="id">
        insert into staff(account,password,name,gender,idCard,tel,email,role_id)
        VALUES (#{account},#{password},#{name},#{gender},#{idCard},#{tel},#{email},#{role.id})
    </insert>

    <select id="selectStaffByRoleId" parameterType="int" resultType="com.dishesMS.model.Staff">
        select * FROM staff where role_id = #{id}
    </select>

    <select id="selectAll" resultMap="staffResultMap">
        SELECT * FROM staff
    </select>

    <select id="selectStaffByAccount" parameterType="String" resultType="com.dishesMS.model.Staff">
        SELECT * FROM staff WHERE account LIKE #{account}
    </select>

    <select id="selectStaffByAccountOrIdCard" resultType="com.dishesMS.model.Staff">
        SELECT * FROM staff WHERE account LIKE #{account} or idCard like #{idCard}
    </select>

    <select id="selectStaffById" parameterType="int" resultType="com.dishesMS.model.Staff">
        SELECT * FROM staff where id = #{id}
    </select>

    <update id="updateStaff" parameterType="com.dishesMS.model.Staff">
        UPDATE staff SET name = #{name},gender = #{gender},idCard = #{idCard},tel = #{tel},email = #{email},
        account = #{account},password = #{password},role_id = #{role.id} WHERE id = #{id}
    </update>

    <update id="updateStaffPassword" parameterType="String">
        UPDATE staff SET password = #{password} where account like #{account}
    </update>

    <update id="updateStaffByAccount" parameterType="com.dishesMS.model.Staff">
        update staff set name = #{name},gender = #{gender},idCard = #{idCard},tel = #{tel},email = #{email} where account like #{account}
    </update>

    <delete id="deleteStaff" parameterType="int">
        DELETE FROM staff WHERE id = #{id}
    </delete>
</mapper>